@import '_mainColors'
.AboutMeContainer
    width: 65%
    display: flex
    height: 70%
    position: absolute
    top: 385vh
    justify-content: flex-start
    transition: .3s
    .scrollablePhotos
        flex-basis: 350%
        height: 80%
        margin-top: -5vh
        background-color: gray
        border-radius: 12px
        border: none
    div
        line-height: 200%
        margin-left: 70px
        h2
            text-align: center
            color: $main-red
        p
            text-align: center
            margin-top: 20px

.AboutMeContainer[data-isOn="true"]
    color: white

@media(max-width:1200px)
    .AboutMeContainer
        width: 85%

@media(max-width:720px)
    .AboutMeContainer
        top: 460vh
        height: 80vh
        flex-direction: column
        .scrollablePhotos
            margin-top: 5vh
        div
            order: -1
            width: 100%
            margin-left: 0%
