@import '_mainColors.sass'
.mainGalleryContainer
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    transition: .3s
.imageContainer
    height: 35vh
    width: 29vw
    padding: 0px
    margin-top: 8vh
    border-radius: 22px
    overflow: hidden
    transition: .3s
    display: block

.mainGalleryContainer[data-isOn="true"]
    background-color: $main-black
.imageContainer[data-isOn="true"]
    border: 2px solid white
