.mainGalleryContainer
    display: flex
    flex-wrap: wrap
    justify-content: space-around
.imageContainer
    height: 35vh
    width: 29vw
    padding: 0px
    margin-top: 8vh
    border-radius: 22px
    overflow: hidden
    &:hover
        transform: scale(1.1)
        cursor: pointer

.image
    object-fit: contain
