@import '_mainColors.sass'
.mainContainer
    width: 100vw
    max-width: 100%
    overflow-x: hidden
    height: 740vh
    background-color: white
    transition: .4s
    display: flex
    flex-direction: column
    align-items: center

.mainContainer[data-isOn="true"]
    background-color: $main-black

@media(max-width: 720px)
    .mainContainer
        height: 1670vh
