*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: DM Sans;
}
body, html{
    overflow-x: hidden;
    user-select: none;
}
::-webkit-scrollbar {
    width: 8.5px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
    
